# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
**/.pnp
*.pnp.js

# testing
/coverage

# next.js
**/.next/
**/out/

# production
**/build

# misc
*.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# config file
config.json
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django Migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py
server/.ipynb_checkpoints/
server/10x/.ipynb_checkpoints/
server/api/.ipynb_checkpoints/
server/auth/.ipynb_checkpoints/

server/10x/__pycache__
server/api/__pycache__
server/api/migrations/__pycache__
server/auth/__pycache__

__pycache__/

# Custom ignores
tatus
nohup.out